body{
	background-image: url('../img/winter2.gif');
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.category{
	width: 300px;
	margin-left:150px;
	display: inline-block; 

}
.category button {
	display: block;
	padding: 12px;
	margin-bottom: 25px;
	width: 250px;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	border-radius: 12px; 
	background-color:#003d66; 
	margin-top: 5px;	
}
.category button:active{
	color: #5b7b92;
	border : 1px solid #2f6ba4;
}
.category button:visited{
	color: #5b7b92;
	border : 1px solid #2f6ba4;
}
.category button:hover{
	color: #5b7b92;
	border : 1px solid #2f6ba4;
}

.category #ul1, #ul2,#ul3,#ul4, #ul5,#ul6 {
	display: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.category li {
	font-size: 20px;
	color: #fff;
	margin-left: 25px;
	margin-top: 5px;
	
}
.container{
	width: 500px;
  height: auto;
  margin-left:100px; 
  margin-right: 10px;
  margin-top:60px; 
  float: left;
}
.category h1{
	color: #fff;
	margin-left: 50px;
}